@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4tlum1');
    src: url('../fonts/icomoon.eot?4tlum1#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?4tlum1') format('truetype'), url('../fonts/icomoon.woff?4tlum1') format('woff'), url('../fonts/icomoon.svg?4tlum1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1140px;
    margin: 0 auto;
}

.header {
    position: relative;
    height: 100px;
    background-color: rgb(250, 227, 231);
}

.logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 175px;
    height: 70px;
}

.logo2 {
    padding-top: 76px;
}

.logo a {
    display: block;
    width: 109px;
    height: 56px;
    background: url(../images/logo.png) no-repeat;
}

.shezhi {
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 60px;
}

.xiaoxi {
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 60px;
}

.register {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 110px;
    height: 40px;
    background-color: #f92525;
    line-height: 40px;
    text-align: center;
}

.register a {
    color: #fff;
    text-decoration: none
}

.tubiao {
    position: absolute;
    top: 20px;
    right: 161px;
    width: 110px;
    height: 60px;
}

.shezhi {
    float: left;
}

.xiaoxi {
    float: right;
}

.hotwrods {
    position: relative;
    height: 168px;
    width: 565px;
}

.text1 {
    position: absolute;
    margin-top: 68px;
    font-size: 25px;
    text-decoration: none;
}

.text2 {
    position: absolute;
    margin-top: 104px;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.lunbo {
    height: 290px;
    margin-top: 20px;
}

.lbt {
    width: 560px;
    height: 290px;
    background-color: rgb(230, 245, 208);
}

.btn {
    background-color: #ffffff;
    width: 95px;
    height: 40px;
    border: 2px solid #e9e9ea;
    text-align: center;
    margin-left: -37px;
}

.btn1 {
    background-color: #5dd054;
    width: 65px;
    height: 30px;
    text-align: center;
    margin-left: -6px;
}

.sup {
    background-color: #ffffff;
}

.sup_hd {
    height: 106px;
    border-bottom: 2px solid #efeff0;
}

.sup_bd_hd {
    color: #b7b8b9;
}

.sup_bd_hd a {
    font-size: 16px;
}

.sup_hd li {
    width: 280px;
    height: 106px;
    float: left;
    padding-top: 52px;
    padding-left: 52px;
}

.sup_bd {
    height: 177px;
    width: 560px;
}

.sup_bd ul {
    height: 57px;
}

.sup_bd li {
    padding-left: 53px;
    padding-top: 22px;
    width: 155px;
    float: left;
}

.sup_bd li:nth-child(3n) {
    float: right;
}

.line {
    margin-top: 20px;
    height: 350px;
    background-color: rgb(208, 208, 245);
}

h2 {
    height: 55px;
    color: #262b2e;
    line-height: 85px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.chart {
    height: 290px;
}

.mix {
    height: 378px;
}

.pie {
    width: 560px;
    height: 376px;
    background-color: rgb(187, 206, 158);
    margin-top: 20px;
}

.bar {
    width: 560px;
    height: 376px;
    margin-top: 20px;
}

.footer {
    background-color: #202124;
}

.footer_bd {
    margin-top: 60px;
    margin-left: 380px;
    height: 250px;
    width: 1141px;
}

.item {
    float: left;
    width: 180px;
    height: 250px;
    margin-left: 12px;
}

.item:first-child {
    margin-left: 0px;
}

.item ul {
    padding-top: 76px;
}

.item li {
    margin-top: 2px;
    color: rgb(198, 198, 199);
    height: 23px;
    font-weight: 600;
}

.footer_ft {
    height: 40px;
    background-color: #363d53;
    width: 1140px;
    margin-left: 380px;
}


/* 轮播图*/

.focus {
    position: relative;
    width: 539px;
    height: 267px;
    overflow: hidden;
    margin: 10px 10px;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}

.focus ul li {
    float: left;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}

.arrow-r {
    right: 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /*background-color: #fff;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
}

.current {
    background-color: #fff;
}


/*导航模块*/

.navitems {
    width: 565px;
    height: 168px;
}

.nav {
    height: 168px;
    background-color: rgb(248, 248, 216);
    margin-top: 20px;
}

.box {
    margin: 70px auto;
}

.box ul {
    position: relative;
    display: flex;
    width: 480px;
    height: 45px;
    line-height: 45px;
    background-color: #f5f8f9;
    padding: unset;
    margin: 0 auto;
    border-radius: 10px;
}

.box li {
    width: 80px;
    border-radius: 10px;
    z-index: 2;
    list-style: none;
    cursor: pointer;
    text-align: center;
    color: #262b2e;
    font-weight: 700;
}

.admin {
    position: absolute;
    left: 0px;
    top: 0;
    transition: all .5s;
    border-radius: 10px;
    z-index: 1;
    height: 45px;
    width: 80px;
    border-bottom: 4px solid #cccfd0;
    background-color: rgb(222, 245, 185);
}
